{% extends 'base.html.twig' %}

{% block title %} Projet Web {% endblock %}


{% block body %}
<main>
  <p class="blabla"> Bienvenue sur notre encyclopedie sur le theme de la nature.</br> Nous vous avons selectionné trois catégories différentes dans lequelle chacune d'entre elles possèdes des éspèces spécifiques.</br> Plus tard, d'autres catégories ainsi que leurs éspèces seront ajouté au fil du temps. </p>   
  <div class="container">
    {% for p in plantes %}
    <div class="patate">
      <a href="{{ path('detail', {'id': p.id}) }}"> <img src="{{vich_uploader_asset(p, 'imageFile', 'App\\Entity\\Plante')}}" alt="titre" class="img1"> </a>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock %}